html, body {
    background-color: black;
	width: 100%;
	height: 100%;
	margin: 0;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    top: 40%;
    justify-content: center;
    position: absolute;
    height: 150px;
    width: 190px;
}

.h1 {
    font-size: 45px;
    top: 55%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    color: white;
}

.p2 {
    color: rgb(163, 163, 163);
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    top: 64%;
}

.btn button {
    position: absolute;
    width: 200px;
    height: 45px;
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 5px 3px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    top: 70%;
    left: 46%;
}

.btn button img {
    width: 25px;
    height: 25px;
    position: fixed;
    margin: -2px 1px 1px 1px;
}

.btn button span {
    font-size: 15px;
    color: white;
    margin-left: 30px;
}

.btn button:hover {
    background-color: rgb(107, 107, 107);
    color: rgb(255, 255, 255);

}

.logo:hover{
    transition: opacity 1s;
    opacity: 0.5;
}